:root{
    --mdc-theme-primary: #37474f;
    --mdc-theme-secondary: #37474f/*#ff9100*/;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #37474f;
}

html, body {
    margin: 0;
}

main {
    padding-top: 64px;
}

.tab-content{
    padding: 5px 20px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.mapWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.map-plot{
    min-width: 300px;
    width: 90%;
    max-width: 1000px;
}
